body{
    font-family: 'Poppins', sans-serif;
    background: peru;
    max-width: 500px;
    margin: auto;
}
#container h1{
    font-size: 4rem;
    font-weight:600;
    color: black;
}
#calculator p{
    font-size: 1rem;
    font-weight:600;
    color: black;
}
#billamt{
    font-size: 1rem;
    font-weight:600;
    color: black;
}
#peopleamt{
    font-size: 1rem;
    font-weight:600;
    color: black;
}
#calculate{
    padding: 0.8rem 2.5rem;
font-size: 1rem;
font-weight: 600;
cursor: pointer;
    background: teal;
    color: cornsilk;
    transition: all .3s ease;
}
#calculate:hover{
    padding: 0.8rem 2.5rem;
font-size: 1rem;
font-weight: 600;
cursor: pointer;
    background: transparent;
    border-color: wheat;
    color:black ;
}